header {
    background-color: #BBBBBB;
    padding: 20px 0;
}
.caixa {
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0px;
}
nav li {
    display: inline; /* Colocando elementos em linha do tamanho do atributo*/
    margin: 0 0 0 15px; /* Adicionado espaço entre as margens => topo, direita, baixo e esquerda*/

}
nav a {
    text-transform: uppercase; /* Transformando texto em maiusculo*/ 
    color: black;
    font-weight: bold; /*Em negrito*/
    font-size: 22px;
    text-decoration: none; /*Retirando o sublinhado*/

}
nav a:hover { /* Hover é a ação de  passar o maouse e realçar aquele elemento */
    color: #C78C19;
    text-decoration: underline;
}
.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0px;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    /*border-color: black;
    border-width: 2px;
    border-style: solid; /*Tipos de boldas: solid, dotted, dashed */
    border: 2px solid black;
    border-radius: 10px;
}
.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active { /* Active é a ação de clique do elemente */
    border-color: green;
}

.produtos li:hover h2 {  /* Nesse exemplo fou utilizado a ação dentro da lista e cascatear para h2 */
    font-size: 35px;

}
.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}
.produto-descricao {
    font-size: 18px;
}
.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
footer {
    text-align: center;
    background: url("../img/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}
form label, form legend {
    display: block;
    font-size: 20px;
    margin: 5px 0 10px 0 ;
}

.input_padrao {
    display: block;
    margin: 0 0 20px 0 ;
    padding: 10px 25px;
    width: 50%;
}
.checkbox {
    margin: 20px 0px;
}
.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color:  white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 0.5s all; /* Tempo de trancisão quando cursor estiver no botão
    podendo usar o que deve transitar, ex: background ou utilizar o all para seleciona todos*/
    cursor: pointer;
}
.enviar:hover {
    background: darkorange;
    transform: scale(1.2); /*aumentar em 20% proporcionalmente o botão 
    transform: rotate(2deg); */ /*Para inclinar em x graus, porém ao utilizar dois elementos transforme,
    um sobrepoe o outro, para solucionar, deve-se usar da forma abaixo */
    /* transform: rotate(720deg) scale(1.2); */
}
table {
    margin: 20px 0 40px;
}

thead {
    background-color: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}